.edit-user__name {

}

.edit-user {

}

.edit-user__form {
  margin: 0 auto;
}

.edit-user__btn-container {
  margin: 40px 0 0 0;
}

.edit-user__btn-container-bottom {
  margin: 20px 0 0 0;
}

.edit-user__link {
  width: 100%;
}