.add-avatar {
  padding: 0 0 100px 0;
}

.add-avatar__text {
  margin: 40px 0;
}

.add-avatar__form {
  margin: 0 auto;
}

.add-avatar__select-foto {
  display: none;
}

.add-avatar__camera-foto {
  display: flex;
  justify-content: space-around;
}

.add-avatar__icon-label {
  display: block;

  text-align: center;
  font-size: 40px;
}

.add-avatar__icon-text {
  display: block;

  font-size: 16px;
}

.add-avatar__btn-container {
  display: flex;
  justify-content: space-around;
}

.add-avatar__btn {
  margin: 0 7px 0 0;
}

.btn:last-child {
  margin: 0;
}

.btn-add-avatar--green {
  background-color: #3fa157;

  color: #ccc;
}

.btn-add-avatar--red {
  background-color: red;

  color: #ccc;
}

.add-avatar--btn-full {
  width: 100%;
}

/* .add-avatar__btn:hover:not(.btn-add-avatar--green) {
  color: red;
} */

@media (min-width: 665px) {   /* Decktop версия */
  .add-avatar__select-foto {
    display: block;
  }

  .add-avatar__camera-foto {
    display: none;
  }
}

@media (max-width: 665px) {  /* Мобильная версия */
  
}
