.btn {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 165px;
  height: 60px;

  border: 1px solid transparent;
  border-radius: 14px;

  padding: 0;

  box-shadow: none;
  outline: none;

  background-color: #d3d5d9;
  
  font-size: 18px;
  font-weight: 600;

  color: black;

  cursor: pointer;

  transition: background-color .15s, color .15s;
}

.btn--box.btn::after {
  content: '';

  position: absolute;
  left: 5px;
  top: calc(60px / 2 - (30px / 2));

  width: 30px;
  height: 30px;

  background-image: url(/public/storage/img/box.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.btn--things.btn::after {
  content: '';

  position: absolute;
  left: 5px;
  top: calc(60px / 2 - (30px / 2));

  width: 30px;
  height: 30px;

  background-image: url(/public/storage/img/things.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.disabled {
  color: #4a4a4a;

  opacity: .5;

  cursor: not-allowed;
}

.btn:hover:not(.disabled) {
  background-color: rgb(204, 204, 204);

  color: #3fa157;

  transition: background-color .15s, color .15s;
}

.btn:active:not(.disabled) {
  background-color: rgb(211, 213, 217);

  color: white;

  transition: background-color .15s, color .15s;
}

.btn:focus:not(.disabled) {
  box-shadow: 0 0 0 2px blue;
}

.btn-mod--green {
  background-color: #3fa157;

  color: #ccc;
}

.btn-mod--red {
  background-color: red;

  color: #ccc;
}

.btn-mod--red:hover:not(.btn-mod--green) {
  color: red;
}


@media (max-width: 320px) {
  .btn {
    width: 145px;
    height: 55px;
  }

  .btn--things.btn::after {
    content: '';
  
    position: absolute;
    left: 5px;
    top: calc(55px / 2 - (25px / 2) - 3px);
  
    width: 25px;
    height: 25px;
  }
  
  .btn--box.btn::after {
    content: '';
  
    position: absolute;
    left: 5px;
    top: calc(55px / 2 - (25px / 2) - 2px);
  
    width: 25px;
    height: 25px;
  }
}