.footer {
  height: 30px;

  background-color: #00002c;
}

.footer-nav {

}

.footer-nav__list {

}

.footer-nav-list {
  display: flex;
  justify-content: space-between;
}

.footer-nav-list__item {
  width: 90px;
}

.footer-nav-list__text {
  display: block;

  text-align: center;

  font-size: 23px;
}


.footer-nav-list__link {
  display: block;

  text-align: center;
}

.footer__copy {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}


@media (min-width: 665px) {
  .footer {
    color: white;
  }

  .footer-nav {
    display: none;
  }
}

@media (max-width: 665px) {
  .footer {
    position: fixed;
    bottom: 0;

    padding: 5px;

    width: 100%;
    height: 85px;

    background-color: #d3d5d9;
  }

  .footer__copy {
    display: none;
  }
}