.header {
  z-index: 100;
}

.header__left {
  display: flex;
  align-items: center;

  min-width: 200px;
}

.header__title {

}

.nav-mob {
  
}

.nav-mob__list {

}

.nav-mob-list {
  display: flex;
  justify-content: space-between;
}

.nav-mob-list__item {

}

.header__center {
  width: 1024px;
}

.header-nav {
  
}

.header-nav__list {

}

.header-nav-list {
  display: flex;
  justify-content: left;
}

.header-nav-list__item {
  display: block;

  margin: 0 20px 0 0;
}

.header-nav-list__link {
  display: block;
}

.header__right {
  
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: end;

  min-width: 200px;

  padding: 0 20px 0 0;
}

.header-right__text {
  margin: 0 10px 0 0;
}

.a--active {
  position: relative;

  color: #3fa157;
}

.a--active::after {
  content: "";

  position: absolute;
  bottom: -2px;
  left: 0;

  display: block;

  width: 100%;
  height: 1px;

  border: 1px solid #3fa157;

  z-index: 200;
}

.header-nav-list__item:hover {
  color: #3fa157;
}


@media (min-width: 736px) {   /* Decktop версия */
  .nav-mob {
    display: none;
  }

  .header {
    position: fixed;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 60px;

    background-color: #00002c;

    color: white;
  }

  .header__title {
    margin: 0 0 0 30px;
  }
}

@media (max-width: 736px) {  /* Мобильная версия */
  .header-nav {
    display: none;
  }

  .header-right {
    display: none;
  }

  .header {
    position: fixed;
    top: 0;

    width: 100%;
    height: 110px;

    padding: 0 10px;
    
    background-color: #f9f9f99b;

    backdrop-filter: blur(10px);
  }

  .a--active {
    color: #3fa157;
  }

  .a--active::after {
    display: none;
  }
}
