.password {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;

  margin: 60px 0 0 0;
}

.password__form {
  /* box-shadow: 0 14px 53px rgba(0,0,0, 0.25), 0 10px 10px rgba(249, 249, 249, 0.15); */
}

@media (max-width: 665px) { /* Мобильная версия */
  
}

@media (min-width: 665px) {   /* Decktop версия */
  
} 
